@model EfCoreUnitTest_Test.Models.HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<p></p>
<form asp-action="Save">
    <input asp-for="Foo" />
    <input type="submit" value="Spara" />
</form>


